/* src/components/Header/Header.css */

.header {
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  border-bottom: 2px solid var(--primary-dark);
}

.header-title {
  font-size: 2.5rem;
  margin: 0;
}

.header-subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #d1ecf1;
}
